# Example notebook showing how to create a database hook to MySQL,
<h2>including:</h2>
<ul>
    <li>create database</li>
    <li>create/drop table</li>
    <li>insert values</li>
</ul>

In [32]:
import os
import sqlalchemy as db
import pandas as pd
import datetime

In [13]:
!pip install $(dirname `pwd`)/dist/example_pkg_this_user-0.1.3-py3-none-any.whl

Processing /Users/stevekom/PycharmProjects/chk-example-project/dist/example_pkg_this_user-0.1.3-py3-none-any.whl
Requirement already satisfied: pandas in /Users/stevekom/.local/share/virtualenvs/chk-example-project-KG8KX4D2/lib/python3.8/site-packages (from example-pkg-this-user==0.1.3) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/stevekom/.local/share/virtualenvs/chk-example-project-KG8KX4D2/lib/python3.8/site-packages (from pandas->example-pkg-this-user==0.1.3) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/stevekom/.local/share/virtualenvs/chk-example-project-KG8KX4D2/lib/python3.8/site-packages (from pandas->example-pkg-this-user==0.1.3) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/stevekom/.local/share/virtualenvs/chk-example-project-KG8KX4D2/lib/python3.8/site-packages (from pandas->example-pkg-this-user==0.1.3) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/stevekom/.local/share/virtualenvs/chk-example-project-KG8KX4D2/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->example-pkg-this-user==0.1.3) (1.16.0)
Installing collected packages: example-pkg-this-user
  Attempting uninstall: example-pkg-this-user
    Found existing installation: example-pkg-this-user 0.1.3
    Uninstalling example-pkg-this-user-0.1.3:
      Successfully uninstalled example-pkg-this-user-0.1.3
Successfully installed example-pkg-this-user-0.1.3

In [14]:
from database_hooks.mysql_hook import MySqlHook

In [18]:
def get_connection_config_adhoc():
    """
    Generate a set of config for adhoc usage
    """
    c = {
        'host': 'localhost',
        'port': 3306,
        'user': 'root',
        'password': 'password',
        'database': 'test_db'
    }
    return c

In [19]:
config = get_connection_config_adhoc()

In [20]:
h = MySqlHook(config)

In [21]:
h._connection

In [22]:
h.execute('SHOW DATABASES;')

             Database
0  information_schema
1                  db
2               mysql
3  performance_schema
4                 sys
5             test_db

In [23]:
h.execute("CREATE DATABASE IF NOT EXISTS test_db;")

Empty DataFrame
Columns: []
Index: []

In [24]:
h.execute("USE test_db;")

Empty DataFrame
Columns: []
Index: []

In [27]:
h.execute('SHOW TABLES;')

  Tables_in_test_db
0          test_tbl

In [25]:
# q = """
# DROP TABLE IF EXISTS test_tbl;
# """
# h.execute(q)

In [26]:
# q = """
# CREATE TABLE IF NOT EXISTS test_tbl (
#     cust_id INT AUTO_INCREMENT PRIMARY KEY,
#     firstname VARCHAR(255) NOT NULL,
#     surname VARCHAR(255) NOT NULL,
#     registration_date DATETIME NOT NULL,
#     created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
# );
# """
# h.execute(q)

In [28]:
# q = """
# INSERT INTO test_tbl (firstname, surname, registration_date) 
# VALUES
#     ('firstname_1','surname_1', '2021-12-26 00:00:00'),
#     ('firstname_2','surname_2', '2021-12-26 00:00:00'),
#     ('firstname_3','surname_3', '2021-12-26 00:00:00')
# ;
# """
# h.execute(q)

In [29]:
df = h.execute('SELECT cust_id, firstname, surname, registration_date FROM test_tbl;')
df

   cust_id    firstname    surname registration_date
0        1  firstname_1  surname_1        2021-12-26
1        2  firstname_2  surname_2        2021-12-26
2        3  firstname_3  surname_3        2021-12-26

In [30]:
df.dtypes

cust_id                       int64
firstname                    object
surname                      object
registration_date    datetime64[ns]
dtype: object

In [33]:
df_check = pd.DataFrame([[1,'firstname_1', 'surname_1', datetime.datetime(2021,12,26)],
                         [2,'firstname_2', 'surname_2', datetime.datetime(2021,12,26)],
                         [3,'firstname_3', 'surname_3', datetime.datetime(2021,12,26)],
                        ],
                        columns=['cust_id', 'firstname', 'surname', 'registration_date'])
df_check

   cust_id    firstname    surname registration_date
0        1  firstname_1  surname_1        2021-12-26
1        2  firstname_2  surname_2        2021-12-26
2        3  firstname_3  surname_3        2021-12-26

In [34]:
df_check.registration_date

0   2021-12-26
1   2021-12-26
2   2021-12-26
Name: registration_date, dtype: datetime64[ns]

In [35]:
cols = ['cust_id', 'firstname', 'surname', 'registration_date']
df[cols].equals(df_check[cols])

True